# Flask untuk backend
Flask==2.3.2
flask-cors==3.0.10

# Untuk pemrosesan gambar
opencv-python==4.8.0.74
numpy==1.24.4
Pillow==10.0.1
scipy==1.11.3

# Untuk pemrosesan audio
librosa==0.10.0.post2
mido==1.2.10
pretty_midi==0.2.10
sounddevice==0.4.6

# Untuk deployment (opsional)
gunicorn==21.2.0
